<div id="footer1copyright" class="fl-row fl-row-full-width fl-row-bg-color fl-node-5cbf5b4d0ccbf" data-node="5cbf5b4d0ccbf">
  <div class="fl-row-content-wrap">
    <div class="uabb-row-separator uabb-top-row-separator"></div>
    <div class="fl-row-content fl-row-fixed-width fl-node-content">
      <div class="fl-col-group fl-node-5cbf5b4d0ccc0 fl-col-group-equal-height fl-col-group-align-center fl-col-group-custom-width" data-node="5cbf5b4d0ccc0">
        <div class="fl-col fl-node-5cbf5b4d0ccc1" data-node="5cbf5b4d0ccc1">
          <div class="fl-col-content fl-node-content">
            <div class="fl-module fl-module-rich-text fl-node-5cbf5b4d0cca8" data-node="5cbf5b4d0cca8">
              <div class="fl-module-content fl-node-content">
                <div class="fl-rich-text">
                  <p><span style="font-size: 14px;">&copy;2020, Star Wars Players Committee. All Rights Reserved.</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>