<div class="pp-advanced-menu-mobile-toggle hamburger-label"><div class="pp-hamburger"><div class="pp-hamburger-box"><div class="pp-hamburger-inner"></div></div></div><span class="pp-advanced-menu-mobile-toggle-label">Menu</span></div>
<div class="pp-advanced-menu pp-advanced-menu-accordion-collapse off-canvas">
<div class="pp-clear"></div>
<div class="pp-off-canvas-menu pp-menu-right">
<div class="pp-menu-close-btn">×</div>
<ul id="menu-main-menu-1" class="menu pp-advanced-menu-horizontal pp-toggle-arrows"><li id="menu-item-27" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-2 current_page_item"><a href="/"><span class="menu-item-text">Home</span></a></li>
<li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children pp-has-submenu"><div class="pp-has-submenu-container"><a href="/about-us/"><span class="menu-item-text">About Us<span class="pp-menu-toggle"></span></span></a></div>
<ul class="sub-menu"><li id="menu-item-16379" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/community/awards/"><span class="menu-item-text">Awards and Hall of Fame</span></a></li>
</ul></li>
<li id="menu-item-113" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/news/"><span class="menu-item-text">News</span></a></li>
<li id="menu-item-15960" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/wpstore"><span class="menu-item-text">Store</span></a></li>
<li id="menu-item-125" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/podcasts-videos/"><span class="menu-item-text">Podcasts &amp; Videos</span></a></li>
<li id="menu-item-849" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children pp-has-submenu"><div class="pp-has-submenu-container"><a href="/tournaments/"><span class="menu-item-text">Tournaments<span class="pp-menu-toggle"></span></span></a></div>
<ul class="sub-menu"><li id="menu-item-16007" class="menu-item menu-item-type-post_type menu-item-object-post"><a href="/decklist-submission-form/"><span class="menu-item-text">Decklist Submission Form</span></a></li>
<li id="menu-item-16000" class="menu-item menu-item-type-post_type menu-item-object-post"><a href="/tournament-software/"><span class="menu-item-text">Tournament Software</span></a></li>
<li id="menu-item-16794" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="/tournaments/#decklists"><span class="menu-item-text">Tournament Decklists</span></a></li>
</ul></li>
<li id="menu-item-160" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/rules/"><span class="menu-item-text">Rules</span></a></li>
<li id="menu-item-177" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/new-returning-players/"><span class="menu-item-text">New &amp; Returning Players</span></a></li>
<li id="menu-item-198" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/donations/"><span class="menu-item-text">Donations</span></a></li>
</ul></div>
