<center><div class="soclinks">
<a href="https://www.facebook.com/swccgpc" target="_blank"><img src="/assets/download-facebook-logo-png-18.png" title="Facebook" width="13px" height="30px"></a> &nbsp;
<a href="https://www.instagram.com/swccg/" target="_blank"><img src="/assets/JFyofc-logo-instagram-background-png-1.png" title="Instagram" width="30px"></a> 
<a href="https://twitter.com/swccg" target="_blank"><img src="/assets/New-Project-1.png" title="Twitter" width="45px" height="30px"></a>
<a href="https://www.facebook.com/groups/starwarsccg" target="_blank"><img src="/assets/download-facebook-logo-png-18.png" title="Facebook Group" width="13px" height="30px"></a> &nbsp;
<a href="https://starwarsccg.slack.com/" target="_blank"><img src="/assets/New-Project-7.png" title="Starwarsccg" width="30px" height="30px"></a>&nbsp;
<a href="https://www.reddit.com/r/starwarsccg/" target="_blank"><img src="/assets/New-Project-2.png" title="Reddit" width="35px" height="30px"></a> 
<a href="https://www.youtube.com/channel/UCwzN9PSUyCvxzbvCRfScS6Q" target="_blank"><img src="/assets/New-Project-4.png" title="Youtube" width="45px" height="30px"></a> &nbsp;
<a href="https://www.twitch.tv/swccgpc" target="_blank"><img src="/assets/twitch.png" title="twitch" width="35px" height="35px"></a> &nbsp;
</div></center>
